
body{
    background-color: #000411;
    overflow: hidden;
}

#mex{
    color: #f76a8b;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-align: center;
}
